In [37]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as pylplot
from sklearn.impute import SimpleImputer

df=pd.read_excel("Summer-Olympic-medals-1976-to-2008student.xlsx")
newdf=df
Country_df=newdf.set_index("City")

# for Medals won by Sydney
print(len(Country_df.loc["Sydney",["Medal"]])) 

# for Medals won by Athens
print(len(Country_df.loc["Athens",["Medal"]])) 

# For city Sydney and Gender Women
fd=Country_df.loc["Sydney"]
print(len(fd.loc[(fd["Gender"]=="Women"),["Medal"]]))

# For city Atlanta in sport Wrestling
fd=Country_df.loc["Atlanta"]
print(len(fd.loc[(fd["Sport"]=="Wrestling"),["Medal","Sport"]]))

2015
1998
889
60

In [33]:
# print(df)